body {
    font-family: sans-serif;
    text-align: center;
    background: green;
    padding: 10px;
}

.track {
    position: relative;
    margin: 10px auto;
    width: 80%;
    height: 60px;
    background: darkgreen;
    border-radius: 10px;
    overflow: hidden;
}

.track::after {
    content: "";
    position: absolute;
    right: 0;
    width: 10px;
    height: 100%;
    background: repeating-linear-gradient(45deg, white 0 5px, black 5px 10px);
}

.horse {
    position: absolute;
    top: 5px;
    width: 50px;
    height: 50px;
    left: 0;
    background: url("../../Laurin koodit/testiprojekti/frontend/hevonen.png") center / contain no-repeat;
    transition: 0.3s;
}

/* Yhteiset nappityylit */
button {
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

/* Hevosnapit */
.horseBtn {
    padding: 15px 25px;
    font-size: 24px;
    margin: 10px;
    background: blue;
}

.horseBtn:hover {
    background: darkblue;
}

.mainButton {
    padding: 14px 28px;
    font-size: 22px;
    margin-top: 20px;
    background: green;
}

.mainButton:hover {
    background: darkgreen;
}

.mainButton:disabled {
    background: grey;
    cursor: not-allowed;
}